<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>500305314010-j0usqvl0imseg09nt417ta3jkqqhcied.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500305314010-j0usqvl0imseg09nt417ta3jkqqhcied</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0WkmN2I6Pmh866OAzmitEhsItnk5fDs</string>
	<key>GCM_SENDER_ID</key>
	<string>500305314010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecksky.msetcl</string>
	<key>PROJECT_ID</key>
	<string>msetcl-5af49</string>
	<key>STORAGE_BUCKET</key>
	<string>msetcl-5af49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:500305314010:ios:3ffef1a957110896</string>
	<key>DATABASE_URL</key>
	<string>https://msetcl-5af49.firebaseio.com</string>
</dict>
</plist>